.Sorry {
  background-color: rgba(222, 55, 52, 0.899);
  border: solid rgb(63, 70, 15) 5px;
  box-shadow: 0 4px 50px rgb(101, 38, 38), 0 6px 12px rgb(85, 85, 85);
}

.Sorry button {
  background-color: rgb(63, 70, 15);
  color: rgb(221, 255, 0);
}

.Sorry button:hover {
  background-color: rgba(63, 70, 15, 0.31);
  color: red;
}

.Rule-is {
  background-color: #AAAAAA;
  border: solid red 5px;
  box-shadow: 0 4px 50px #AAAAAA, 0 6px 12px blue;
}

.Rule-is button {
  background-color: red;
  color: blue;
}

.Rule-is button:hover {
  background-color: rgba(106, 142, 35, 0.509);
  color: red;
}

.swal-text {
  color: blue;
  font-family: "Courier New", Courier, red;
  font-size: 1.5rem;
  text-align: center;
}

.title {
  margin-bottom: 2%;
  width: 90%;
}

.Wins{
  background-color: rgba(245, 104, 43, 0.899);
  border: solid blue 5px;
  box-shadow: 0 4px 8px rgb(121, 71, 28), 0 6px 12px rgb(85, 85, 85);
}

.Winsbutton {
  background-color: red;
  color: rgb(221, 255, 0);
}

.Winsbutton:hover {
  background-color: rgba(181, 54, 120, 0.509);
  color: rgb(221, 255, 0);
}

