body {
  margin: 100%;
  padding:100%;
  font-family: 
}
  .card {
    background-color: rgba(218, 31, 235, 0.687); 
    border: solid black .25em;
    display: inline-block;
    height: 11%;
    margin-left: 7%;
    width: 16%;
}

.card:hover {
    transform: rotate(-360deg);
    transition: all 2s;
}

.img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    
}

.img-container:hover {
    cursor: pointer;
    transform: rotate(360deg);
    transition: all 2s;
}

img {
    padding: .5em;
    height: 100%;
    width: 90%;
    image-rendering: pixelated;
} 

